body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(background.jpg);
    background-size: auto;
}

.calc {
    width: 600px;
    height: 950px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 10px solid black; 
    border-radius: 30px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: 2 1 auto;
    width: 65.5%;
    min-height: 20%;
    border: 5px solid black;
    background-color:rgba(46, 214, 178, 0.938); 
    border-top-left-radius: 20px;
    font: bolder 30px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.operator {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 30%;
    border: 10px double  rgba(245, 99, 42, 0.959);
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 40px;
}
.num {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.gora {
    flex-direction: row;
}
.keyboard {
}
.btn {
    display: flex;
    flex: 1 1 auto;
    width: 20%;
    min-height: 18%;
    border: 5px solid black;
    background-color: rgba(173, 216, 230, 0.932);
    justify-content: center;
    align-items: center;
    font: bolder 30px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all 0.05s;
}
.btn.zero {
   width: 45%;
   border-bottom-left-radius: 20px;
}
.bspc {
    width: 97%;
    max-height: 50%;
    display: flex;
    flex: 1 1 auto;
    border: 5px solid black;
    border-top-right-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 99, 42, 0.959);
    /* border-top: 0px; */
}
.del {
    width: 97%;
    max-height: 45%;
    border: 5px solid black;
    /* border-bottom: 0px;
    border-left: 0px; */
    font-size: 40px;
}
.btn.special {
    background-color: rgba(245, 99, 42, 0.959);
}
.bottom {
    border-bottom-right-radius: 20px;
}
.btn:hover {
    filter: brightness(85%);
}
.top {
    display: flex;
    flex: 1 1 auto;
    width: 20%;
    min-height: 18%;
    border-right: 5px solid black;
    flex-direction: column;
    border-top-right-radius: 20px;
}
.pushed {
    transform: scale(1.1);
    border-color: rgba(46, 214, 178, 0.938);
    box-shadow: 0 0 20px rgba(46, 214, 178, 0.938);
}
.bspc {
    width: 97%;
    max-height: 50%;
    display: flex;
    flex: 1 1 auto;
    border: 5px solid black;
    border-top-right-radius: 20px;
    justify-content: center;
    align-items: center;
    min-height: 18%;
    font: bolder 30px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all 0.05s;
}
.bspc:hover {
    filter: brightness(85%);
}